= form_for @draft do |f|
  .row
    .col-xs-1
      = f.hidden_field :owner_id, value: current_user.id
      = f.submit "Create Draft", class: 'btn btn-default'

= form_for @deck, url: {action: "create"} do |f|
  .row
    .col-xs-3.col-xs-offset-1
      .form-group
        = f.text_field :name, class: 'form-control', autofocus: "true", placeholder: "Deck Name"
        = f.hidden_field :user_id, value: current_user.id
    .col-xs-1
      = f.submit "Create Deck", class: 'btn btn-default'

%table.table
  %tr
    %th Deck Name
  - @decks.each do |deck|
    = render deck




