%h2
  = @deck.name
.row
  .col-md-4
    = form_for @card, url: deck_path(@deck), html: { method: 'patch' } do |f|
      .row
        .col-xs-4
          .form-group
            = f.select :set, @sets, { selected: @most_recent_set }, class: 'form-control'
        .col-xs-5
          .form-group
            = f.number_field :number, class: 'form-control', autofocus: "true", placeholder: "Card No."
        .col-xs-3
          = f.submit "Add Card", class: 'btn btn-default'
  .col-md-8
    = form_for @card_deck do |f|
      .col-xs-2
        = f.hidden_field :card_id, value: @forest.id
        = f.hidden_field :deck_id, value: @deck.id
        = f.submit "Add Forest", class: 'btn btn-default'
    = form_for @card_deck do |f|
      .col-xs-2
        = f.hidden_field :card_id, value: @island.id
        = f.hidden_field :deck_id, value: @deck.id
        = f.submit "Add Island", class: 'btn btn-default'
    = form_for @card_deck do |f|
      .col-xs-2
        = f.hidden_field :card_id, value: @mountain.id
        = f.hidden_field :deck_id, value: @deck.id
        = f.submit "Add Mountain", class: 'btn btn-default'
    = form_for @card_deck do |f|
      .col-xs-2
        = f.hidden_field :card_id, value: @swamp.id
        = f.hidden_field :deck_id, value: @deck.id
        = f.submit "Add Swamp", class: 'btn btn-default'
    = form_for @card_deck do |f|
      .col-xs-2
        = f.hidden_field :card_id, value: @plains.id
        = f.hidden_field :deck_id, value: @deck.id
        = f.submit "Add Plains", class: 'btn btn-default'


.row
  - %w{ Artifact Creature Instant Sorcery Enchantment Land }.each do |type|
    .col-xs-2
      %h4= type
      %ul.list-unstyled
        - @deck.cards.joins(:types).where(types: { name: type }).each do |card|
          %li
            %a{tabindex: "0", data: { toggle: "popover", trigger: "hover", content: image_tag("#{card.image_name}.jpg"), html: "true" } }
              #{card.name} #{card.mana_cost}
