.row
  .col-xs-4.col-xs-offset-4
    %table.table
      %tr
        %th Player
        %th 1st Rnd
        %th 2nd Rnd
        %th 3rd Rnd
      - @draft.players.each do |player|
        %tr
          %td= player.name
          %td= "#{player.first_round_wins}-#{player.first_round_losses}"
          %td= "#{player.second_round_wins}-#{player.second_round_losses}"
          %td= "#{player.third_round_wins}-#{player.third_round_losses}"
.row
  .col-xs-1.col-xs-offset-4
    = form_for @round, url: draft_rounds_path(@draft) do |f|
      = f.submit "Pair #{next_round_ordinal(@draft)} Round", class: 'btn btn-default'
